/* Fondo Pagina */
html, body{
    min-height: 200%;
    background: url('/Imagenes/fondo rosa.avif') no-repeat center center fixed;
    background-size: cover;
      }

/* Color y letra Barra de Navegacion */
nav.navbar {background-color: rgb(248, 227, 249);}
.nav-link:hover{
    color: rgb(236, 12, 184);
 }