/* Colores */
perro{color: rgb(253, 253, 253);}
h1
h3{color: rgb(255, 255, 255);}
p{color: rgb(255, 255, 255);}

/* Fondo Pagina */
body{
  min-height: 200%;
  background-color:  rgb(240, 191, 229) !important;
  background-size: cover;
    }

/* Color y letra Barra de Navegacion */
nav.navbar {background-color: rgb(248, 227, 249);}
.nav-link:hover{
    color: rgb(236, 12, 184);
 }